<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MailSenderLib.Properties.Settings.MailsAndSendersConnectionString"
            connectionString="Data Source=DESKTOP\SQLEXPRESS;Initial Catalog=MailsAndSenders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MailSenderLib.Properties.Settings.MailsAndSendersConnectionString2"
            connectionString="Data Source=WS121-admin\SQLEXPRESS;Initial Catalog=MailsAndSenders;Integrated Security=True"
            providerName="" />
    </connectionStrings>
</configuration>